In [3]:
import pandas as pd
# Creating a Pandas DataFrame
data = {
'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
'Age': [25, 30, 22, 35, 28],
'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston']
}
df = pd.DataFrame(data)
# Displaying the DataFrame
print("Original DataFrame:")
print(df)

Original DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles
3    David   35        Chicago
4    Emily   28         Boston

In [4]:
# Basic operations on DataFrame
df['Salary'] = [60000, 75000, 50000, 90000, 65000] # Adding a new column
df['Age'] = df['Age'] + 1 # Incrementing the 'Age' column by 1
# Filtering data
young_people = df[df['Age'] < 30] # Selecting rows where age is less than 30
# Grouping and aggregation
city_avg_salary = df.groupby('City')['Salary'].mean()
# Displaying the updated DataFrame and filtered data
print("\nUpdated DataFrame:")
print(df)
print("\nYoung people (Age < 30):")
print(young_people)
print("\nAverage Salary by City:")
print(city_avg_salary)

Updated DataFrame:
      Name  Age           City  Salary
0    Alice   26       New York   60000
1      Bob   31  San Francisco   75000
2  Charlie   23    Los Angeles   50000
3    David   36        Chicago   90000
4    Emily   29         Boston   65000

Young people (Age < 30):
      Name  Age         City  Salary
0    Alice   26     New York   60000
2  Charlie   23  Los Angeles   50000
4    Emily   29       Boston   65000

Average Salary by City:
City
Boston           65000.0
Chicago          90000.0
Los Angeles      50000.0
New York         60000.0
San Francisco    75000.0
Name: Salary, dtype: float64